:root {
  --mainColor: #2C2C2C;
  --backgroundColor: #B85252;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: 'Russo One', sans-serif;
}

p,
li,
span,
label,
input,
textarea,
div {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
  color: #ffffff;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 90%;
  }
}

.header-wrapper {
  background-color: var(--mainColor);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

.header a {
  color: #ffffff;
}

.header .header-logo h3 {
  font-size: 30px;
  margin-bottom: 0;
  color: var(--backgroundColor);
}

@media screen and (max-width: 425px) {
  .header .header-logo h3 {
    font-size: 25px;
  }
}

.header .header-logo p {
  margin-top: 0;
}

@media screen and (max-width: 425px) {
  .header .header-logo p {
    font-size: 13px;
  }
}

.header .header-nav {
  height: 100%;
}

@media screen and (max-width: 580px) {
  .header .header-nav {
    display: none;
  }
}

.header .header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.header .header-nav ul a {
  margin-left: 10px;
  padding: 70px 5px 0;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

.header .header-nav ul a li {
  height: 100%;
  color: #ffffff;
}

.header .header-nav ul a:hover {
  background: var(--backgroundColor);
}

.header .header-nav ul a:hover li {
  color: #fff;
}

.header .bars {
  display: none;
  cursor: pointer;
  color: #ffff;
}

@media screen and (max-width: 580px) {
  .header .bars {
    display: block;
  }
}

.header .bars i {
  font-size: 24px;
}

.works {
  padding-top: 40px;
  padding-bottom: 80px;
  background: rgba(0, 0, 0, 0.1);
}

.works .main-container {
  background: var(--mainColor);
  padding: 5px;
  padding-bottom: 20px;
  border-radius: 4px;
}

.works-title {
  text-align: center;
  color: #ffffff;
  letter-spacing: 5px;
}

.works-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.works-cards a {
  padding: 10px;
  background: #fff;
  margin-bottom: 25px;
  border-radius: 3px;
  width: calc(100%/4);
  height: auto;
}

@media screen and (max-width: 680px) {
  .works-cards a {
    width: calc(100%/2.5);
  }
}

@media screen and (max-width: 320px) {
  .works-cards a {
    width: 80%;
  }
}

.works-cards img {
  width: 100%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}

.resume {
  background-color: var(--mainColor);
  color: #fff;
  padding-bottom: 40px;
}

.resume .resume-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 720px) {
  .resume .resume-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.resume .resume-wrapper .resume-info {
  width: 65%;
  padding-right: 40px;
}

@media screen and (max-width: 720px) {
  .resume .resume-wrapper .resume-info {
    width: 100%;
    padding-right: 0;
  }
}

.resume .resume-wrapper .resume-info .resume-info-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 360px) {
  .resume .resume-wrapper .resume-info .resume-info-top {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.resume .resume-wrapper .resume-info .resume-info-top img {
  width: 120px;
  height: 100px;
  border: 7px solid #fff;
  margin-top: -40px;
}

.resume .resume-wrapper .resume-info .resume-info-top .resume-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resume .resume-wrapper .resume-info .resume-info-top .resume-name .name {
  margin-left: 20px;
}

.resume .resume-wrapper .resume-info .resume-info-top .resume-name .name span {
  font-style: italic;
  font-size: 20px;
  white-space: nowrap;
}

.resume .resume-wrapper .resume-info .resume-info-top .resume-name .name a {
  display: block;
  color: #fff;
  font-size: 13px;
}

.resume .resume-wrapper .resume-info .resume-info-top .resume-name .name a i {
  padding-right: 10px;
}

.resume .resume-wrapper .resume-info .resume-info-top .links a {
  margin-right: 15px;
  font-size: 23px;
  color: #ffffff;
}

.resume .resume-wrapper .resume-info .resume-info-top .links a:hover {
  color: var(--backgroundColor);
}

@media screen and (max-width: 475px) {
  .resume .resume-wrapper .resume-info .resume-info-top .links a {
    margin-right: 0;
    font-size: 15px;
    margin-right: 5px;
  }
}

.resume .resume-wrapper .resume-skills {
  width: 35%;
}

@media screen and (max-width: 720px) {
  .resume .resume-wrapper .resume-skills {
    width: 100%;
    text-align: center;
  }
}

.resume .resume-wrapper .resume-skills .all-skills {
  padding-left: 30px;
}

@media screen and (max-width: 720px) {
  .resume .resume-wrapper .resume-skills .all-skills {
    padding-left: 0;
  }
}

.resume .resume-wrapper .resume-skills .all-skills .skill-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.resume .resume-wrapper .resume-skills .all-skills .skill-wrapper span {
  min-width: 20%;
  text-align: center;
}

@media screen and (max-width: 850px) {
  .resume .resume-wrapper .resume-skills .all-skills .skill-wrapper span {
    min-width: 30%;
  }
}

@media screen and (max-width: 720px) {
  .resume .resume-wrapper .resume-skills .all-skills .skill-wrapper span {
    min-width: 10%;
  }
}

@media screen and (max-width: 580px) {
  .resume .resume-wrapper .resume-skills .all-skills .skill-wrapper span {
    min-width: 20%;
  }
}

.resume .resume-wrapper .resume-skills .all-skills .skill-wrapper .skill {
  display: block;
  width: 100%;
  height: 15px;
  background: rgba(255, 255, 255, 0.2);
  margin-bottom: 15px;
  position: relative;
}

.resume .resume-wrapper .resume-skills .all-skills .skill-wrapper .skill::after {
  content: '';
  display: block;
  background: var(--backgroundColor);
  position: absolute;
  width: 90%;
  height: 100%;
}

.resume .resume-wrapper .resume-skills .all-skills .skill-wrapper:nth-child(2) .skill::after {
  width: 85%;
}

.resume .resume-wrapper .resume-skills .all-skills .skill-wrapper:nth-child(3) .skill::after {
  width: 65%;
}

.resume .resume-wrapper .resume-skills .all-skills .skill-wrapper:nth-child(4) .skill::after {
  width: 80%;
}

.footer {
  background-color: #282828;
  color: #fff;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.main {
  overflow: hidden;
}

.side-menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: -1;
  -webkit-transition: .5s;
  transition: .5s;
}

#side-menu {
  background-color: #C15656;
  width: 50%;
  height: 100%;
  position: fixed;
  z-index: 100;
  right: -50%;
  -webkit-transition: .5s;
  transition: .5s;
}

#side-menu a {
  text-align: center;
  margin-top: 40px;
  display: block;
}

#side-menu li {
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}

#side-menu li:hover {
  background-color: #fff;
  color: var(--backgroundColor);
}

.side-menu-wrapper.anim {
  opacity: 1;
  z-index: 1;
}

@media screen and (min-width: 580px) {
  .side-menu-wrapper.anim {
    display: none;
  }
}

.side-menu-wrapper.anim #side-menu {
  right: 0;
}
