:root {
    --mainColor: #10121B;
    --backgroundColor: #B85252;
}

html,
body {
    margin: 0;
    padding: 0;

}


h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-family: 'Russo One', sans-serif;
}

p,
li,
span,
label,
input,
textarea,
div {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    
}
a:visited {
    color: #ffffff;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width:1200px) {
    .main-container {
        width: 90%;
    }
}

.header-wrapper {
    background-color: var(--mainColor);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    a {
        color: #ffffff;
    }

    .header-logo {
        h3 {
            font-size: 30px;
            margin-bottom: 0;
            color: var(--backgroundColor);
        }

        p {
            margin-top: 0;
        }
    }

    .header-nav {
        height: 100%;

        @media screen and (max-width:580px) {
            display: none;
        }

        ul {
            display: flex;
            height: 100%;

            a {
                margin-left: 10px;
                padding: 70px 5px 0;
                transition: background-color .3s ease;

                li {
                    height: 100%;
                    color: #ffffff;
                }
            }

            a:hover {
                background: var(--backgroundColor);

                li {
                    color: #fff;
                }
            }
        }
    }

    .bars {
        display: none;
        cursor: pointer;
        color: #ffff;
        @media screen and(max-width:580px) {
            display: block;
        }

        i {
            font-size: 24px;

        }
    }
}

.works {
    padding-top: 40px;
    padding-bottom: 80px;
    background: rgba($color: #000000, $alpha: 0.1);
    .main-container {
        background: var(--mainColor);
        padding: 5px;
        padding-bottom: 20px;
        border-radius: 4px;
    }

    &-title {
        text-align: center;
        color: #ffffff;
        letter-spacing: 5px;
    }

    &-cards {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: stretch;
        a{
            padding: 10px;
            background: #fff;
            margin-bottom: 10px;
            border-radius: 3px;
        }
        img {
            width: 300px;
            height: 300px;
            border: 1px solid rgba($color: #000000, $alpha: .3);
            margin-bottom: 10px;
            @media screen and (max-width: 426px) {
                width: 150px;
                height: 150px;
            }
        }

        .card {
            width: 45%;
            height: 200px;
            background: var(--backgroundColor);
            margin-bottom: 20px;



            @media screen and (max-width: 340px) {
                width: 100%;
            }
        }
    }
}

.resume {
    background-color: var(--mainColor);
    color: #fff;
    padding-bottom: 40px;

    .resume-wrapper {
        display: flex;

        @media screen and (max-width:720px) {
            flex-wrap: wrap;
        }

        .resume-info {
            width: 65%;
            padding-right: 40px;

            @media screen and (max-width:720px) {
                width: 100%;
                padding-right: 0;
            }

            .resume-info-top {
                display: flex;
                align-items: center;
                justify-content: space-between;

                img {
                    width: 120px;
                    height: 100px;
                    border: 7px solid #fff;
                    margin-top: -40px;
                }

                .resume-name {
                    display: flex;
                    align-items: center;

                    .name {
                        margin-left: 20px;

                        span {
                            font-style: italic;
                            font-size: 20px;
                        }

                        a {
                            display: block;
                            color: #fff;
                            font-size: 13px;

                            i {
                                margin-right: 10px;
                            }
                        }
                    }

                }

                .links {
                    i {
                        color: #ffffff;
                        font-size: 35px;
                        margin-right: 15px;

                        @media screen and (max-width:475px) {
                            font-size: 20px;
                            margin-right: 5px;
                        }
                    }
                }
            }

        }

        .resume-skills {
            width: 35%;

            @media screen and (max-width:720px) {
                width: 100%;
                text-align: center;
            }

            .all-skills {
                padding-left: 30px;

                @media screen and (max-width:720px) {
                    padding-left: 0;
                }

                .skill-wrapper {
                    display: flex;

                    span {
                        min-width: 20%;
                        text-align: center;

                        @media screen and(max-width:850px) {
                            min-width: 30%;
                        }

                        @media screen and(max-width:720px) {
                            min-width: 10%;
                        }

                        @media screen and(max-width:580px) {
                            min-width: 20%;
                        }
                    }

                    .skill {
                        display: block;
                        width: 100%;
                        height: 15px;
                        background: rgba($color: #fff, $alpha: .2);
                        margin-bottom: 15px;
                        position: relative;
                    }

                    .skill::after {
                        content: '';
                        display: block;
                        background: var(--backgroundColor);
                        position: absolute;
                        width: 90%;
                        height: 100%;
                    }

                }

                .skill-wrapper:nth-child(2) .skill::after {
                    width: 85%;
                }

                .skill-wrapper:nth-child(3) .skill::after {
                    width: 65%;
                }

                .skill-wrapper:nth-child(4) .skill::after {
                    width: 80%;
                }

            }
        }
    }
}

.footer {
    background-color: #282828;
    color: #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.main {
    overflow: hidden;
}

.side-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: .5);
    opacity: 0;
    z-index: -1;
    transition: .5s;

}

#side-menu {
    background-color: #C15656;
    width: 50%;
    height: 100%;
    position: fixed;
    z-index: 100;
    right: -50%;
    transition: .5s;

    a {
        text-align: center;
        margin-top: 40px;
        display: block;
    }

    li {
        color: #ffffff;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    li:hover {
        background-color: #fff;
        color: var(--backgroundColor);
    }
}



.side-menu-wrapper.anim {
    opacity: 1;
    z-index: 1;

    @media screen and (min-width:580px) {
        display: none;
    }
}

.side-menu-wrapper.anim #side-menu {
    right: 0;
}